<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MODULE_MENU_BACK_COLOR" value="rgb(230,237,245)" />
    <add key="MODULE_MENU_FORE_COLOR" value="Black" />
    <add key="MODULE_MENU_SELECTED_FORE_COLOR" value="DarkBlue" />
    <add key="CURRENT_MODULE_LABEL_FORE_COLOR" value="DarkBlue" />
    <add key="SUB_MENU_FORE_COLOR" value="DarkGreen" />
    <add key="DETAIL_MENU_FORE_COLOR" value="Black" />
    <add key="LEFT_MENU_BACK_COLOR" value="WhiteSmoke" />
    <add key="FORM_BACKGROUND_COLOR" value="rgb(252, 239, 225)" />
    <add key="AUTO_GENERATION_DETAIL_ANALYST_COLUMN" value="1" />
    <add key="SHOW_BUTTON" value="1" />
    <add key="CT_BakgroundColorName" value="window" />
    <add key="CT_AlternatingBackColorName" value="" />
    <add key="DM_BakgroundColorName" value="window" />
    <add key="DM_AlternatingBackColorName" value="LightYellow" />
    <add key="BC_BakgroundColorName" value="ControlDark" />
    <add key="BC_AlternatingBackColorName" value="LightYellow" />
    <add key="AsTextBox_BakgroundColorName" value="Info" />
    <add key="MUTI_LANG_ENABLED" value="1" />
    <add key="DEFAULT_LANG" value="vi-VN" />
    <add key="Theme" value="Default" />
    <add key="MENU_TYPE" value="4" />
    <add key="X_COLUMN2" value="350" />
    <add key="MODULE_PANEL_MAX_WIDTH" value="280" />
    <add key="MAX_WIDTH_OF_COLUMN_REPORT" value="300" />
    <add key="MODULE_MENU_FONT" value="Microsoft Sans Serif,11,1" />
    <add key="SUB_MENU_FONT" value="Microsoft Sans Serif,11,1" />
    <add key="DETAIL_MENU_FONT" value="Microsoft Sans Serif,10,0" />
    <add key="EscapeCharacters" value="" />
    <add key="Field2CarryInReport" value="Tk,Ma_Kh,Ma_Vt" />
    <add key="AUTO_INSERT_DETAIL_OF_VOUCHER_WARNING_LEVEL" value="0" />
    <add key="LOGTYPE" value="TEXT" />
    <add key="Name_Help" value="Simba Accounting Help.chm" />
    <add key="FirstRun" value="0" />
    <add key="CURRENT_LANG" value="vi-VN" />
    <add key="DaoType" value="MsSql" />
    <add key="AuthenticationType" value="SQL" />
    <add key="SqlServerName" value="F0-7D-E2-7D-EF-7D-F3-7D-E2-7D-EF-7D-AB-7D-E1-7D-E6-7D-E2-7D-ED-7D-F5-7D-F2-7D-DE-7D-EB-7D-AB-7D-E0-7D-EC-7D-EA-7D" />
    <add key="SqlUserName" value="DF-7E-F1-7E-E7-7E-DF-7E" />
    <add key="SqlPassword" value="E0-7F-F2-7F-E8-7F-E0-7F-E0-7F-E3-7F-EC-7F-E8-7F-ED-7F" />
    <add key="SqlSysDBName" value="E1-7D-E6-7D-E2-7D-ED-7D-F5-7D-F2-7D-DE-7D-EB-7D" />
    <add key="SqlDataDBName" value="E1-7D-E6-7D-E2-7D-ED-7D-F5-7D-F2-7D-DE-7D-EB-7D" />
    <add key="AttachDataFile" value="D:\PMKTASIA\Database\diepxuan.mdf" />
    <add key="AttachData" value="0" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
